*.o
bin/
Samples/conjugateGradientMultiBlockCG/conjugateGradientMultiBlockCG
Samples/conjugateGradientMultiDeviceCG/conjugateGradientMultiDeviceCG
Samples/cudaTensorCoreGemm/cudaTensorCoreGemm
Samples/deviceQuery/deviceQuery
Samples/matrixMul/matrixMul
Samples/matrixMulDrv/data/
Samples/matrixMulDrv/matrixMulDrv
Samples/matrixMulDrv/matrixMul_kernel64.ptx
Samples/shfl_scan/shfl_scan
Samples/simpleCUBLAS/simpleCUBLAS
Samples/simpleCUFFT/simpleCUFFT
Samples/simpleCUFFT/simpleCUFFT2D
Samples/simpleCUFFT/simpleFFT
Samples/simpleCUFFT/simpleFFT-omp
Samples/simpleCUFFT/simpleFFT2D
Samples/simpleCUFFT/simpleFFT2D-omp
Samples/simpleVoteIntrinsics/simpleVoteIntrinsics
Samples/vectorAdd_nvrtc/vectorAdd_nvrtc
Samples/warpAggregatedAtomicsCG/warpAggregatedAtomicsCG
